<a href="https://colab.research.google.com/github/LAGHVI-AGGARWAL/PYTHON_BEGINNER/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Yes, Python is a case-sensitive language.
# This means that it distinguishes between uppercase and lowercase letters
#  when it comes to identifiers like variable names, function names, and keyword

In [ ]:
print("hello world")

hello world

In [ ]:
# VARIABLES
a = 23
print(a)
# ID() FUNCTION TELLS THE ADDRESS OF THE VARIABLE IE WHERE THE VARIABLE IS STORED IN THE HEAP MEMORY
print(id(a))

23
10751560

In [ ]:
a = 100
print(id(a))

10754024

In [ ]:
#  INTEGERS
number = 24
print(number)

24

In [ ]:
# TYPE() FUNCTION
# USED TO TELL THE TYPE OF THE VARIABLE I.E THE TYPE OF DATA THAT IS STORED IN THE VARIABLE

In [ ]:
a = 34
print(a)
print(id(a))
print(type(a))

34
10751912
<class 'int'>

In [ ]:
print(a)
print("a")

34
a

In [ ]:
# FLOAT TYPE

In [ ]:
f = 1.1
print(f)
print(type(f))

1.1
<class 'float'>

In [ ]:
f1 = 2.23
print(f1)
print(type(f1))

2.23
<class 'float'>

In [ ]:
# BOOLEANS

In [ ]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

In [ ]:
b2 = "true"
print(b2)
print(type(b2))
# True and true are not same
# True is used for boolean data type

true
<class 'str'>

In [ ]:
# STRINGS
# WE CAN USE DOUBLE QUOTES AND SINGLE QUOTES FOR WRITING A STRING
# TRIPLE QUOTES ARE USED FOR WRITING MULTILINE STRINGS

In [ ]:
res = 'LAGHVI'
print(res)
print(type(res))

LAGHVI
<class 'str'>

In [ ]:
res1 = "LAGHVI"
print(res1)
print(type(res1))

LAGHVI
<class 'str'>

In [ ]:
m1 = """
hey there
it is a multiline string."""
print(m1)
print(type(m1))

hey there
it is a multiline string.
<class 'str'>

In [ ]:
# m2 = ""
# is this a multiline comment
# ""

In [ ]:
# NONE DATA TYPE
# IT IS USED WHEN WE WANT TO PASS NO DATA IN THE VARIABLE
# IT ACTS LIKE VOID

In [ ]:
no = None
print(no)
print(type(no))

None
<class 'NoneType'>

In [ ]:
no1 = 'none'
# SIMILARLY AS IN BOOLEAN HERE ALSO None and none are different

In [ ]:
# INPUT USING INPUT FUNCTION

In [ ]:
name = input()

Devansh

In [ ]:
print(name)
print(type(name))
print(id(name))

Devansh
<class 'str'>
138625017141936

In [ ]:
print(name)
print(type(name))
print(id(name))

Laghvi
<class 'str'>
132369747366000

In [ ]:
# NUMBER AS INPUT

In [ ]:
x = input()

11

In [ ]:
print(x)
print(type(x))

11
<class 'str'>

In [ ]:
#  INPUT FUNCTION TAKES THE INPUT IN THE FORM OF STRING DATATYPE
# SO IF THE NUMBER IS TAKEN AS INPUT AND STORED IN A VARIABLE IT WOULD BY DEFAULT BE OF STRING DATATYPE
# SO NEED TO DO TYPECONVERSION TO CONVERT ITS DATA TYPE

In [ ]:
# TYPE CONVERSION

In [ ]:
y = int(x)
Z = float(x)
print(y)
print(Z)
print(type(y))

1
1.0
<class 'int'>

In [ ]:
z = input()

1.43

In [ ]:
print(type(z))

<class 'str'>

In [ ]:
y = float(z)
# IF WE WANT TO CONVERT SUCH THAT WE WANT TO CHANGE THE ORIGINAL DATA TYPE SUCH THAT
#  FLOAT NUMBER GETTING CONVERTED INTO INT THEN WE CANNOT CONVERT DIRECTLY INTO INT
# FIRST FROM STRING TO FLOAT AND THEN TO INT
x = int(y)
print(y)
print(x)
print(type(y))

1.43
1
<class 'float'>

In [ ]:
# PRINTING MULTIPE VALUES USING PRINT FUNCTION

In [ ]:
# WE CAN PRINT MULTIPLE VALUES USING PRINT FUNCTION BY SEPARATING THEM WITH COMMAS IRRESPECTIVE OF THEIR DATA TYPE

In [2]:
print("laghvi","vansh","akriti",12,43,56,90.0,45.3,67.8)

laghvi vansh akriti 12 43 56 90.0 45.3 67.8

In [5]:
# BY DEFAULT WHILE USING THE PRINT FUNCTION , THE SPACES COMES BETWEEN EVERY OBJECT THAT IS SEPARATED FROM COMMAS
print?
# it is because the print function is by default separated by ' '(space) and
# ended with next line which can be seen while printing two print statements

In [6]:
# CHANGING THE DEFAULT SEP OPERATOR WITH THE USER DEFINED OPERATOR

In [11]:
print("laghvi","vansh","akriti",12,43,56,90.0,45.3,67.8,sep = ',')
# TO CHANGE , CHANGE THE BY DEFAULT VALUE OF THE SEP OPERATOR WITH THE USER DEFINED VALUE

laghvi,vansh,akriti,12,43,56,90.0,45.3,67.8

In [ ]:
# CHANGING THE DEFAULT END OPERATOR WITH THE USER DEFINED OPERATOR

In [17]:
print("laghvi","vansh","akriti",12,43,56,90.0,45.3,67.8,end = ', ')
print("laghvi")
# TO CHANGE , CHANGE THE BY DEFAULT VALUE OF THE END OPERATOR WITH THE USER DEFINED VALUE

laghvi vansh akriti 12 43 56 90.0 45.3 67.8 , laghvi

In [21]:
print("laghvi","vansh","akriti",12,43,56,90.0,45.3,67.8,sep="->",end = '\n\n')
print("laghvi")

laghvi->vansh->akriti->12->43->56->90.0->45.3->67.8

laghvi