<a href="https://colab.research.google.com/github/LAGHVI-AGGARWAL/PYTHON_BEGINNER/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ARITHMETIC OPERATORS

In [ ]:
a = 5
b = 3

In [ ]:
print(a + b)
print(a - b)

8
2

In [ ]:
# DIVISION OPERATOR (/) ALWAYS RESULTS THE OUTPUT IN FLOAT TYPE

In [ ]:
print(a / b )

1.6666666666666667

In [ ]:
print(5/5)

1.0

In [ ]:
# ADDITION WORK SAME WITH FLOAT NUMBERS
print(round(1.24 + 2.20,2))
# sometimes encounter small rounding errors. If you need precise results,
#  consider using the decimal module or rounding the result to a specific number of decimal places.
print(1.24 + 2.20)

3.44
3.4400000000000004

In [ ]:
1.25 + 5.00

6.25

In [ ]:
# STRING CONCATENATION
first = "Laghvi"
last = "Aggarwal"

In [ ]:
first + last

'LaghviAggarwal'

In [ ]:
print(first + ' ' + last)

Laghvi Aggarwal

In [ ]:
print("1" + " " + "1")

1 1

In [ ]:
# first - last
# SUBTRACTION CANNOT BE PERFORMED ON STRINGS
# first*first
# MULTIPLICATION CANNOT BE PERFORMED ON STRINGS

In [ ]:
first * 3
# MUTLTIPLICATION OF STRING WITH NUMBER CAN BE PERFORMED

'LaghviLaghviLaghvi'

In [ ]:
# MODULO OPERATOR (%)

In [ ]:
print(5%3)

2

In [ ]:
# IN FLOOR DIVISION (//) , THE RESULT IS FLOORED TO NEAREST SMALLER INTEGER

In [ ]:
print(5 // 3)

1

In [ ]:
print(-3 // 4)

-1

In [ ]:
# TO THE POWER(**) ACCEPTS TWO VALUES BASE AND POWER

In [11]:
print(2 ** 3)

8

In [12]:
# COMPARISON OPERATOR (==,!=,<,>,<=,>=)

In [1]:
# <= OR >= MEANS EITHER OF THE TWO CONDITIONS SHOULD BE TRUE I.E MUST BE GREATER OR MUST BE EQUAL AND SAME FOR <=

In [2]:
# ASSIGNMENT OPERATORS (=,+=,-=,/=,%=,*=)

In [3]:
# LOGICAL OPERATORS (and,or,not)

In [9]:
# SPECIAL OPERATORS
# IN OPERATOR(MEMBERSHIP OPERATOR)
# IS OPERATOR

In [ ]:
# IN OPERATOR TELLS IF AN OBJECT IS PART OF OTHER OBJECT OR NOT

In [5]:
name = "Laghvi Aggarwal"

In [6]:
"l" in name

True

In [8]:
"iv" in name
# WE CANNOT JUMBLE THE WORDS EVEN WHEN THEY ARE PRESENT IN THE OBJECT

False

In [10]:
# IS OPERATOR TELLS IF BOTH OBJECTS ARE AT SAME MEMORY LOCATION

In [12]:
a = 5
b= 5
print(id(a), id(b))

10750984 10750984

In [13]:
a is b

True

In [15]:
a = 56
b= 98
print(id(a),id(b))

10752616 10753960

In [16]:
a is b

False